body{
    margin: 0px;
    background-color: #ebebebeb;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(57, 57, 57);
    /* background-image: url('../images/blue_background.png');
    background-size: cover;
    background-attachment: fixed; */
}


.result-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.result{
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: fit-content;
    background-color: white;
    margin: 3rem;
    padding: 3rem;
    box-shadow: 2px 2px 4px rgb(128 128 128 / 20%);
}

.title{
    font-size: 1.3rem;
    font-weight: 600;
}

.company{
    margin: 3rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 600;
}

.result-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.result-value{
    border: 2px solid rgba(170, 170, 170, 0.5);    
    background-color: white;    
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 2.3rem;
    font-weight: 600;
}

span{
    width: fit-content;
}

.result-table-container{
    display: flex;
    width: 100%;    
}

.result-table{
    background-color: white;   
    margin: 3rem;
    padding: 3rem;
    box-shadow: 2px 2px 4px rgb(128 128 128 / 20%);
    width: 100%;
}

.result-table tr td{
    padding: 0.5rem;
    border: 1px solid rgb(128 128 128 / 20%);
}