body{
    margin: 0px;
    background-color: #ebebebeb;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(57, 57, 57);
    /* background-image: url('../images/blue_background.png');
    background-size: cover;
    background-attachment: fixed; */
}

.home-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 7rem;
}

.error{
    border: solid 2px red !important;
}

.questions-wrapper{
    position: relative;
    margin-left: calc(215px + 3rem);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 20%;
}

.page-container{
    position: fixed;
    top: 0px;
    padding: 7.5rem 1.5rem 1.5rem;
    width: 215px;
    z-index: 3;
    height: 100%;
    border-right: 2px solid #bf1d1d;
    background-color: white;
}

.button-wrapper{
    width: 100%;
}

button{
    border: none;
    border-radius: 0%;
    padding: 0.5rem 1rem;
    width: 8rem;
    font-size: 1rem;
    float: right;
    color: white;
    background-color: rgba(170, 170, 170, 50);
    cursor: pointer;
}

.button-previous{
    float: left;
}


.page{
    border: 3px solid rgba(100, 194, 136, 0);
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    /* box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.5); */
}

.question-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    background-color: white;
    padding: 1rem;
    border: 2px solid rgb(170, 170, 170, 0.5);
}

.question-no{
    margin-right: 1rem;
}

.question-text{
    width: 100%;
}

.selected{
    border: 2px solid rgba(54,54,54,0.5) !important;
}

.selected-page{
    border-left: 3px solid #bf1d1d !important;
    color: #bf1d1d;
}

.page-title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    margin: 0px;
    padding: 1rem;
    color:rgb(57, 57, 57);
}

.question{
    margin-bottom: 0.8rem;
}

.answer{
    background-color: white;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgba(170, 170, 170, 0.5);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: .3s all ease;
}

.bar-wrapper{
    background-color: gainsboro;
}

.progress-bar{
    width: 100%;
    height: 0.2rem;
    background-color: white;
    box-shadow: 2px 2px 3px gray;
    margin-bottom: 1rem;
}

.progress{
    height: 0.2rem;
    background-color: #bf1d1d;
    width: 20%;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.header-title{
    position: fixed;
    width: 100%;
    z-index: 5;
}

.hidden{
    display: none;
}

input[type=text]{
    border: 0px;
    font-size: 1rem;
    outline: 0px;
    width: 100%;
    color: rgb(57, 57, 57);
}

input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=text]:-webkit-autofill:focus,
input[type=text]:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=number]{
    border: 0px;
    font-size: 1rem;
    outline: 0px;
    width: 100%;
    -moz-appearance:textfield;
    color: rgb(57, 57, 57);
}

input[type=checkbox]{
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Animations/hovers... */

.page:hover{
    color: #bf1d1d;
}

.answer:hover{
    box-shadow: 2px 2px 4px rgb(128 128 128 / 20%);
}

button:hover{
    background-color: rgba(130, 130, 130, 1);
}

