{% extends 'layout.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}

{% block head %}
<title>Upitnik - Admin</title>
{% endblock %}

{% block body %}
<div class="admin-container">
    <div class="admin-nav">
        <div class="admin-nav-logo">

        </div>
        <div class="admin-tabs">
            {% for page in pages %}
                <div class="admin-tab admin-page-tab">
                    <div class="tab-description-left">                        
                        <span class="tab-title">Strana {{page.index}}</span>
                    </div>                    
                    <div class="tab-description-right" onclick="collapse({{page.id}})">
                        <i class="fas fa-chevron-down"></i>
                    </div>        
                </div>
                {% for question in page.questions %}
                    <div class="admin-tab admin-question-tab hidden" data-page="{{page.id}}">
                        <div class="tab-description-left">                        
                            <span class="tab-title">Pitanje {{question.index}}</span>
                        </div>                 
                        <div class="tab-description-right" onclick="collapse({{page.id}},{{question.id}})">
                            <i class="fas fa-chevron-down"></i>
                        </div>                           
                    </div>
                    {% for answer in question.answers %}
                        <div class="admin-tab admin-answer-tab hidden" data-page="{{page.id}}" data-question="{{question.id}}">
                            <div class="tab-description-left">                        
                                <span class="tab-title">Odgovor {{answer.index}}</span>
                            </div>                                                                  
                        </div>
                    {% endfor %}
                {% endfor %}               
            {% endfor %}
        </div>        
    </div>
    <div class="admin-tooling">
        <div class="admin-forms">
            {% for page in pages %}
                <div class="admin-form-container">
                    <h1>Strana {{page.index}}</h1>
                    <h2>{{page.title}}</h2>

                    <form class="admin-form">
                        <input type="number" value="{{}}">

                        self.id = id
                        self.index = index
                        self.title = title        
                        self.formula = formula
                        self.questions = questions if questions else []
                    </form>
                </div>                
                {% for question in page.questions %}
                    
                    {% for answer in question.answers %}

                    {% endfor %}
                {% endfor %}            
            {% endfor %}
            
        </div>
        <div class="admin-advisor">
            <div class="admin-config-log">

            </div>
            <div class="admin-publish">

            </div>
        </div>
    </div>
</div>
{% endblock %}