{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/result.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/questionnaire.js')}}"></script>
{% endblock %}

{% block head %}
    <title>Result</title>
{% endblock %}

{% block body %}
<main>
    <div class="result-wrapper">
        <div class="result">
            <span class="title">Godisnja premija za firmu</span>
            <span class="company">{{company}}</span>
            <div>
                <span class="result-value">{{result}} eur</span>
            </div>
        </div>
        
        
    </div>
</main>

<script src="{{ url_for('static', filename='js/result.js')}}"></script>

{% endblock %}

