
{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/login.js')}}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js')}}"></script>
{% endblock %}

{% block head %}
    <title>Upitnik - Login</title>
{% endblock %}


{% block body %}
<section class="flex col align-center justify-center m-auto min-h-100">
    <div class="flex col align-center justify-center w-content bg-white p-30">
        <img src="{{ url_for('static', filename='images/ftn.jpg') }}" class="wh-logo" alt="ftn-logo"></img>
        <form class="flex col align-center justify-center w-content" id="login-form">
            <input type="text" name="username" class="inp mb-5" placeholder="Korisnicko ime nemam latinicu plz fix">
            <input type="password" name="password" class="inp mb-5" placeholder="Lozinka">
            <button type="button" onclick="login()">Prijavi se</button>
        </form>
    </div>
</section>
{% endblock %}
