{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/questionnaire.js')}}"></script>
{% endblock %}

{% block head %}
    <title>Upitnik</title>
{% endblock %}

{% block body %}
<main>
    <div class="header-title">
        <p class="page-title">{{ pages[0].title }} </p>
        <div class="bar-wrapper">
            <div class="progress-bar">
                <div class="progress">

                </div>
            </div>
        </div>
    </div>
    <div class="home-wrapper">
        <div class="page-container">
            {% for page in pages %}
            <div class="page page-{{page.id}}">
                <span>{{page.title}}</span>
            </div>
            {% endfor %}
        </div>
        <form class="questions-wrapper" id="question-form">
            {% for page in pages %}
            <div index="{{page.id}}" class="{% if page.id != 1 %} hidden {%endif%}">
                {% for question in page.questions %}
                <div class="question-container">
                    <div class="question-no">
                        <span>{{loop.index}}.</span>
                    </div>
                    <div class="question-text">
                        <div class="question">
                            <span>{{question.question}}</span>
                        </div>
                            {% for answer in question.answers %}
                            <div class="answer">
                                {% if question.answer_type == 'number' %}
                                    <input type="{{question.answer_type}}" pattern="[1-9]{1}[0-9]{9}" oninput="checkLength(this)" name="answer-{{page.id}}-{{question.id}}{% if question.answer_type != 'radio'%}-{{answer.id}}{%endif%}" value="{{answer.weight}}">
                                {% elif question.answer_type == 'checkbox' %}
                                    <input type="{{question.answer_type}}" name="answer-{{page.id}}-{{question.id}}{% if question.answer_type != 'radio'%}-{{answer.id}}{%endif%}" value="{{answer.id}}">
                                {% else %}
                                    <input type="{{question.answer_type}}" name="answer-{{page.id}}-{{question.id}}{% if question.answer_type != 'radio'%}-{{answer.id}}{%endif%}" value="{{answer.weight}}">
                                {% endif %}
                                <span>{{ answer.text }}</span>
                            </div>
                            {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="button-wrapper">
                <button class="button-previous">Prethodna</button>
                <button class="button-next">Sledeća</button>
                <button class="button-submit hidden">Izračunaj</button>
            </div>
        </form>

    </div>
</main>

<script src="{{ url_for('static', filename='js/questionnaire.js')}}"></script>

{% endblock %}

